---
import Header from "../components/Header.astro";
import Map from "../components/Map.astro";
import "../styles/global.css";
---

<Header />
<main>
    <Map />
</main>

<style>
    main {
        flex: 1;
    }
</style>
